* {
    padding: 0;
    margin: 0;
    font-family: 'Lato' ;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 800;
  }
  a {
    color: #FFFFFF;
  }
  
  body , html {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  
  
  .background-green {
    background-color: #b9f6ca; /* Couleur de fond vert */
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    color: #00695c; /* Couleur du texte */
}

  /*navbar*/
  nav {
    display: flex;
    height: 80px;
    width: 100%;
    background-color:#4E5166;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 3%;
  }
  
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 5px;
    color: white;
  }
  
  nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 25px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  
  img {
    height: 180px;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #4E5166;
    min-width: 150px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  
  /*navbar*/
  
  /*bouton*/
  button {
    background-color: #FFD7D7;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    color: white;
  }
  
  
  
  
  .creation_title {
      display: flex;
      justify-content: center;
      padding-top: 65px;
      color: #CB5D5C;
  }
  .creation_title p {
      font-size: 24px;
      text-transform: uppercase;
  }
  .deja-1compte {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    padding-top: 15px;
    color: #4E5166;
  }
  .deja-1compte .red {
    color: #4E5166;
  }
  .deja-1compte a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 8px;
  }
  
  /*title*/
  /*input*/
  .grp_infos{
    display: flex;
    justify-content: center;
    margin-top: 20px;
      background-color: #4E5166;
      border-radius: 5px;

      width: 643px;
      margin-left: 450px;
  
  }
  .container_infos {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .infos {
    padding: 15px;
  }
  .infos input {
    background-color: #ffffff;
    border: solid 2px #595959;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    font-weight: 300;
    padding-left: 15px;
    width: 520px;
    height: 64px;
    display: flex;
    justify-content: center;
  }
  
  form {
      margin-bottom: 20px;
  }
  /*input*/
  
  /*check*/
  .condition {
      display: flex;
      justify-content: center;
  }
  .condition label{
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 20px;
  }
  .condition .checkbox {
      padding-right: 11px;
  }
  /*check*/
  /*button*/
  .button {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
  }
  .button input {
      background-color: #FFD7D7;
      border: white;
      width: 200px;
      height: 48px;
      border-radius: 8px;
      font-size: 18px;
      text-transform: uppercase;
      color: #4E5166;
      font-weight: 800;
  }
  /*button*/
  
  .text { 
    margin-top: 40px;
  }
  
  
  img.ftt-img {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  }
  
  .container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: #4E5166;
      padding: 0px 0px 30px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }