<footer class="footer">
    <div class="container">
        <div class="ft-image">
            <img class="ftt-img" src="/img/grroupo-removebg-preview.png" alt="">
        </div>
     <div class="row">
       <div class="footer-col">
         <h4>Conditions général</h4>
         <ul>
           <li><a href="#">Confidentialités</a></li>
           <li><a href="#">Lieux</a></li>
           <li><a href="#">Aide</a></li>
           <li><a href="#">Contact</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>follow us</h4>
         <div class="social-links">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-linkedin-in"></i></a>
         </div>
       </div>
     </div>
    </div>
 </footer>

</body>

</html>