<body>
    <nav>
        <div class="imgg">
            <a href="/home"><div class="logo"><img src="/img/grroupo-removebg-preview.png" alt=""></div></div></a>
        
        <ul>
            <li><iconify-icon icon="majesticons:article-line" style="color: white;" width="40" height="40"></iconify-icon></li>
            <li>Articles</li>
        </ul>
        <div class="dropdown">
            <div class="icon_navbar">
                <div class="icon">
                    <div class="icon_account">
                        <a href="#"><iconify-icon icon="ph:users-duotone" style="color: white;" width="40" height="40"></iconify-icon></a>
                    </div>
                </div>
            </div>
            <div class="dropdown-content">
              <a href="/login">Login</a>
              <a href="/Register">Sign up</a>
            </div>
    </nav>