<%- include('header'); %>
</head>
<%- include('naviguation'); %>

<main>
    <div class="profil-container">
        <h2>Profil</h2>
        <div class="user-profil">
            <textarea readonly style="margin-left: 20%;" name="bio" id="bio" cols="30" rows="10">Biographie :</textarea>
            <details>
                <summary>Mes posts</summary>
                <br>
                <p>Vous n'avez pas encore créé de post.</p>
              </details>              
        </div>
    </div>
    <br>
</main>

<%- include('footer'); %>
