<%- include('header'); %>

<main>
  <form action="/auth/register" method="POST">
    <div class="creation_compte">
      <div class="title">
        <div class="creation_title">
          <p>S'inscrire</p>
        </div>
        <div class="deja-1compte">
          <p>Vous avez déjà un compte?</p>
          <a href="#" class="red">Identifiez-vous ici.</a>
        </div>
      </div>
      <div class="grp_infos">
        <div class="container_infos">
          <div class="infos">
            <input type="text" required pattern="[A-Za-z]{3,10}" placeholder="Nom" name="lastname">
          </div>
          <div class="infos">
            <input type="text" required pattern="[A-Za-z]{3,10}" placeholder="Prénom" name="firstname">
          </div>
          <div class="infos">
            <input type="email" placeholder="Mail" name="email">
          </div>
          <div class="infos">
            <input type="password" required placeholder="Mot de passe" name="password">
          </div>
          <div class="infos">
            <input type="password" required placeholder="Confirmez votre mot de passe" name="confirmdp">
          </div>
        </div>
      </div>
      <div class="condition">
        <div class="text">
          <input type="checkbox" id="click">
          <label for="click">J'accepte les conditions générales.</label>
          <div class="button">
            <input type="submit" value="S'inscrire">
          </div>
        </div>
      </div>
    </div>
  </form>
</main>

<%- include('footer'); %>
